<app-add-user [mustOpen]='mustOpen' (mustClose)="close()">
  <div class="row">
    <div class="col-lg-11"></div>
    <div class="col-lg-1">
      <button (click)="close()" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div class="row text-center mt-5">
    <div class="col-6">
      <div class="input-group mb-3">
        <span class="input-group-text" >Nome</span>
        <input type="text" class="form-control" [(ngModel)]="nome" >
      </div>
    </div>
    <div class="col-6">
      <div class="input-group mb-3">
        <span class="input-group-text" >Sobrenome</span>
        <input type="text" class="form-control" [(ngModel)]="sobrenome"  >
      </div>
    </div>
    <div class="col-6">
      <div class="input-group mb-3">
        <span class="input-group-text" >CPF</span>
        <input  type="text" class="form-control" [(ngModel)]="cpf" >
      </div>
    </div>
    <div class="col-6">
      <div class="input-group mb-3">
        <span class="input-group-text" >Data de Nascimento</span>
        <input type="date" class="form-control" [(ngModel)]="data" >
      </div>
    </div>
    <button class="btn btn-success" (click)="addUser()">add</button>
  </div>

</app-add-user>
<nav class="navbar navbar-expand-lg navbar-light bg-light">


  <div class="container-fluid">
    <a class="navbar-brand" href="#">Início</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">cadastre-se</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">contato</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="row">
  <div class="col-2">

  </div>
  <div class="col-8">
    <table class="table mt-4">
      <thead>
        <tr>
          
          <th scope="col">Nome</th>
          <th scope="col">Sobrenome</th>
          <th scope="col">CPF</th>
          <th scope="col">Data de nascimento</th>
          <th scope="col"><button type="button" (click)="openAddUser()" class="btn btn-success">+ user</button>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let u of users">
          
          <td>{{u.nome}}</td>
          <td>{{u.sobrenome}}</td>
          <td>{{u.cpf}}</td>
          <td>{{u.data}}</td>
          <td></td>
        </tr>
        
        
      </tbody>
    </table>
  </div>
</div>